<mjml>
  <mj-body>
    <mj-section>
      <mj-column>

        <mj-image width="100px" src="https://i.imgur.com/SZqGIpLs.png"></mj-image>

        <mj-divider border-color="#3498db"></mj-divider>

        <mj-text font-size="20px" color="#3498db" font-family="helvetica">Dear {{user}},</mj-text>
         <mj-text font-size="15px" color="#FFFFF" font-family="helvetica">Thanks for your interest in Sarpheab.</mj-text>
        <mj-text font-size="15px" color="#FFFFF" font-family="helvetica">Please verify your email address in the following link: {{link}}</mj-text>

      </mj-column>
    </mj-section>
  </mj-body>
</mjml>